
.vs/WeatherStation/v16/.suo
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.AssemblyInfo.cs
WeatherStation/bin/Debug/netcoreapp2.1/WeatherStation.runtimeconfig.json
WeatherStation/bin/Debug/netcoreapp2.1/WeatherStation.runtimeconfig.dev.json
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.AssemblyInfoInputs.cache
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.assets.cache
WeatherStation/obj/WeatherStation.csproj.nuget.cache
WeatherStation/obj/project.assets.json
WeatherStation/obj/WeatherStation.csproj.nuget.dgspec.json
WeatherStation/obj/WeatherStation.csproj.nuget.g.props
WeatherStation/obj/WeatherStation.csproj.nuget.g.targets
.vs/WeatherStation/DesignTimeBuild/.dtbcache
.vs/WeatherStation/v16/Server/sqlite3/db.lock
.vs/WeatherStation/v16/Server/sqlite3/storage.ide
.vs/WeatherStation/v16/Server/sqlite3/storage.ide-shm
.vs/WeatherStation/v16/Server/sqlite3/storage.ide-wal
WeatherStation/bin/Debug/netcoreapp2.1/WeatherStation.deps.json
WeatherStation/bin/Debug/netcoreapp2.1/WeatherStation.dll
WeatherStation/bin/Debug/netcoreapp2.1/WeatherStation.pdb
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.csproj.CoreCompileInputs.cache
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.csproj.FileListAbsolute.txt
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.csprojAssemblyReference.cache
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.dll
WeatherStation/obj/Debug/netcoreapp2.1/WeatherStation.pdb
